/* Containers */
.reason, .role, .technologies-container {
    width: 100%;
    padding: 80px 0;
    text-align: center;
    color: white;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    font-weight: 700;
    color: #f9b31e;
}

/* Reason Section */
.reason-title {
    font-size: 1.3rem; 
}

.reason-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Role Section */
.role-container {
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
}

.role-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.role-member img:hover { 
    transform: scale(1.05); 
}

.role-member h2 { 
    font-size: 1.3rem; 
    margin-bottom: 8px; 
}

.role-member .name { 
    font-size: 1.1rem; 
    font-weight: 600; 
    margin-bottom: 4px; 
}

.role-member p { 
    font-size: 1rem; 
    line-height: 1.3; 
}

/* Tech Section */
.tech-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 20px;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tech-item img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    margin: 10px;
    transition: .3s;
}

.tech-item img:hover { 
    transform: scale(1.1); 
}

.tech-item p {
    font-size: 1.3rem;
    margin-top: 5px;
    font-weight: 500;
}

/* Mobile */
@media(max-width: 768px) {
    .role-container { 
        flex-direction: column; 
        gap: 50px; 
    }
    
    .title { 
        font-size: 2rem; 
    }
    
    .role-member img { 
        width: 150px; 
        height: 150px; 
    }
    
    .tech-images { 
        flex-direction: column; 
        gap: 40px; 
    }
}
