p, .text-box {
    color: white;
}

/* Portfolio Layout  */
#portfolio-main {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 40px;
}

.portfolio-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px; 
    min-height: auto;
    color: #3097f3;
    gap: 20px;
    background-color: white;
    border-radius: 35px;
    margin-bottom: 100px;
    flex-wrap: wrap; 
}

.portfolio-section h3 {
    font-size: 2rem;
    color: #f9b31e;
    margin-bottom: 20px;
}

.portfolio-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    flex: 1;
}

.profile-pic {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    flex-shrink: 0;
    transition: 0.3s ease;
    box-shadow: 10px 10px 48px -8px #3097f3;
    max-width: 100%;
}

.profile-pic:hover {
    filter: brightness(1.15);
    transform: scale(1.03);
}

.portfolio-intro {
    margin-bottom: 20px;
    font-style: italic;
    max-width: 550px; 
    text-align: center;
    width: 100%;      
    color: #4A4A4A;
}

.portfolio-section h4 {
    color: #f9b31e;
}

.skills-list {
    margin-left: 20px;
    margin-bottom: 15px;
    color: #4A4A4A;
    list-style-position: inside;
}

.skills-list li {
    margin-bottom: 6px;
    font-size: 1.15rem;
}

/* Responsive Layout */
/* Laptop & Tablet */
@media (max-width: 1024px) {
    .portfolio-section {
        flex-direction: column;
        text-align: center;
        padding: 90px 40px 40px 40px; 
        gap: 30px;
        position: relative; 
    }

    .portfolio-section h3 {
        margin-top: 40px;
    }

    .profile-pic {
        position: absolute;
        top: -75px; 
        left: 50%;
        transform: translateX(-50%); 
        width: 180px;
        height: 180px;
        z-index: 2;
        transition: 0.3s ease; 
    }
    
    .profile-pic:hover,
    .profile-pic:active {
        transform: translateX(-50%); 
        filter: brightness(1); 
    }

    .portfolio-intro {
        margin-left: auto;
        margin-right: auto;
    }

    .text-box {
        flex: none;
        width: 100%;
        margin-top: 0;
    }
}

/* Mobile */
@media (max-width: 550px) {
    .portfolio-section {
        padding: 70px 20px 30px 20px;
    }
    
    .profile-pic {
        top: -60px;
        transform: translateX(-50%); 
        width: 150px;
        height: 150px;
    }

    .portfolio-section h3 {
        font-size: 1.8rem;
    }

    .portfolio-section p {
        font-size: 1.05rem;
    }
}