* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 24px;
    line-height: 28px;
    color: white;
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #3097f3;
}

/* Navigation Bar  */

.navbar {
    display: flex;
    top: 0;
    padding: 10px 20px;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.logo-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-links {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-links a {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    margin: 0 10px;
    color: white;
}

.nav-links a:hover {
    color: black;
    text-decoration: underline;
}

#logo-name {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.logo-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo-name:hover {
    color: black;
}

#logo-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* Main */
main {
    width: 90%;
    min-height: 100vh;
    max-width: 1200px;
    margin: 80px auto 40px auto;
    padding: 20px;
    position: relative;
}

.main-container {
    display: relative;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.main-logo-img {
    width: auto;
    height: 750px;
    /* Arch of the Image */
    border-top-left-radius: 250px; 
    border-top-right-radius: 250px;  
}

.main-logo-text {
    position: absolute; 
    bottom: 600px;      /* Move to bottom */
    right: 1025px;      /* Move to left */
    font-size: 48px;
    font-weight: bold;
    color: white;
    z-index: 2;         /* to make sure the text is above the image */
}

/* Footer */
.site-footer {
    background-color: #082c4e;
    color: white;
    padding: 30px 20px;
    font-size: 18px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left h3 {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.footer-center a,
.footer-right a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-center a:hover,
.footer-right a:hover {
    text-decoration: underline;
}